/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 31, 2020, 9:08:10 PM
    Author     : thien
*/

#xslContainer{
    left: 0;
    top: 0;
    position: absolute;
}
#xmlContainer{
    left: 65%;
    position: absolute;
    padding-left: 20px;
}
#view{
    margin-top: 20px;
    position: relative;
    height: 300px;
}
textarea{
    display: inline-block;
}
body{
    padding-left: 10px;
}
label{
    width: 80px;
    display: inline-block;
    margin-top: 5px;
    vertical-align: top;
}