/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 19, 2020, 8:46:19 PM
    Author     : thien
*/

form {
    position: relative;
    margin-left: 5px;
}
form label{
    width: 80px;
    display: inline-block;
    margin-top: 5px;
}
form input {
    width: 200px;
}
form input[type=submit]{
    margin-top: 5px;
    margin-left: 200px;
    width: 88px;
    
}