/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 31, 2020, 11:00:38 AM
    Author     : thien
*/

table{
    width: 80%;
    margin-left: 10%;
    border: 1px #d4d4d4 solid;
    border-collapse: collapse;
}
td,th{
    border: 1px #d4d4d4 solid;
    
}