USE [master]
GO
/****** Object:  Database [yourphone]    Script Date: 4/3/2020 8:52:55 PM ******/
CREATE DATABASE [yourphone]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'yourphone', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\yourphone.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'yourphone_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\yourphone_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [yourphone].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [yourphone]
GO
/****** Object:  Table [dbo].[admin]    Script Date: 4/3/2020 8:52:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin](
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_admin] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[category]    Script Date: 4/3/2020 8:52:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[category] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_category] PRIMARY KEY CLUSTERED 
(
	[category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[phone]    Script Date: 4/3/2020 8:52:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phone](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[category] [nvarchar](255) NOT NULL,
	[price] [int] NULL,
	[img] [nvarchar](255) NULL,
	[link] [nvarchar](255) NULL,
	[updatedDate] [date] NULL,
	[website] [nvarchar](255) NULL,
 CONSTRAINT [PK_phone] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[subpage]    Script Date: 4/3/2020 8:52:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[subpage](
	[website] [nvarchar](255) NULL,
	[subpage] [nvarchar](255) NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_subpage] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[website]    Script Date: 4/3/2020 8:52:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[website](
	[website] [nvarchar](255) NOT NULL,
	[address] [nvarchar](255) NULL,
 CONSTRAINT [PK_website] PRIMARY KEY CLUSTERED 
(
	[website] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[admin] ([username], [password]) VALUES (N'admin', N'admin')
INSERT [dbo].[admin] ([username], [password]) VALUES (N'thien', N'thien')
INSERT [dbo].[category] ([category]) VALUES (N'Apple Iphone 11 ')
INSERT [dbo].[category] ([category]) VALUES (N'Apple Iphone 11 128gb ')
INSERT [dbo].[category] ([category]) VALUES (N'Apple Iphone 11 256gb ')
GO
SET IDENTITY_INSERT [dbo].[phone] ON 

INSERT [dbo].[phone] ([id], [name], [category], [price], [img], [link], [updatedDate], [website]) VALUES (1, N'Samsung Galaxy Fold Công Ty', N'Samsung Galaxy Fold C', 45990000, N'https://bachlongmobile.com/media/catalog/product/cache/1/small_image/180x180/9df78eab33525d08d6e5fb8d27136e95/f/o/ford.png', N'https://bachlongmobile.com/samsung-galaxy-fold-chinh-hang.html', CAST(N'2020-04-03' AS Date), N'https://bachlongmobile.com/')
INSERT [dbo].[phone] ([id], [name], [category], [price], [img], [link], [updatedDate], [website]) VALUES (2, N'Samsung Galaxy Fold (Đã Kích 6060, Chưa Active)', N'Samsung Galaxy Fold ', 44990000, N'https://bachlongmobile.com/media/catalog/product/cache/1/small_image/180x180/9df78eab33525d08d6e5fb8d27136e95/f/o/ford_1.png', N'https://bachlongmobile.com/samsung-galaxy-fold-da-kich-6060-chua-active.html', CAST(N'2020-04-03' AS Date), N'https://bachlongmobile.com/')
INSERT [dbo].[phone] ([id], [name], [category], [price], [img], [link], [updatedDate], [website]) VALUES (5, N'Samsung Galaxy S20 Ultra (Chưa Kích 6060, Chưa Active)', N'Samsung Galaxy S20 Ultra ', 26890000, N'https://bachlongmobile.com/media/catalog/product/cache/1/sp_image_banner_event/467x198/9df78eab33525d08d6e5fb8d27136e95/s/2/s20ultra-497x198-min.png', N'https://bachlongmobile.com/samsung-galaxy-s20-ultra.html', CAST(N'2020-04-03' AS Date), N'https://bachlongmobile.com/')
GO
SET IDENTITY_INSERT [dbo].[phone] OFF
SET IDENTITY_INSERT [dbo].[subpage] ON 

INSERT [dbo].[subpage] ([website], [subpage], [id]) VALUES (N'https://hoanghamobile.com/dien-thoai-di-dong-c14.html/', N'?sort=0&p=1', 1)
INSERT [dbo].[subpage] ([website], [subpage], [id]) VALUES (N'https://hoanghamobile.com/dien-thoai-di-dong-c14.html/', N'?sort=0&p=2', 2)
INSERT [dbo].[subpage] ([website], [subpage], [id]) VALUES (N'https://hoanghamobile.com/dien-thoai-di-dong-c14.html/', N'?sort=0&p=3', 3)
SET IDENTITY_INSERT [dbo].[subpage] OFF
INSERT [dbo].[website] ([website], [address]) VALUES (N'https://24hstore.vn/', NULL)
INSERT [dbo].[website] ([website], [address]) VALUES (N'https://bachlongmobile.com/', N'113 Quang Trung')
INSERT [dbo].[website] ([website], [address]) VALUES (N'https://hoanghamobile.com/dien-thoai-di-dong-c14.html/', N'120 Hung Vuong')
ALTER TABLE [dbo].[phone]  WITH CHECK ADD  CONSTRAINT [FK_phone_category1] FOREIGN KEY([category])
REFERENCES [dbo].[category] ([category])
GO
ALTER TABLE [dbo].[phone] CHECK CONSTRAINT [FK_phone_category1]
GO
ALTER TABLE [dbo].[phone]  WITH CHECK ADD  CONSTRAINT [FK_phone_website] FOREIGN KEY([website])
REFERENCES [dbo].[website] ([website])
GO
ALTER TABLE [dbo].[phone] CHECK CONSTRAINT [FK_phone_website]
GO
ALTER TABLE [dbo].[subpage]  WITH CHECK ADD  CONSTRAINT [FK_subpage_website] FOREIGN KEY([website])
REFERENCES [dbo].[website] ([website])
GO
ALTER TABLE [dbo].[subpage] CHECK CONSTRAINT [FK_subpage_website]
GO
USE [master]
GO
