<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>listener.DeployListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>CrawlController</servlet-name>
        <servlet-class>controller.admin.CrawlController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.admin.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchSuggestionController</servlet-name>
        <servlet-class>controller.user.SearchSuggestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>controller.user.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditXSLController</servlet-name>
        <servlet-class>controller.admin.EditXSLController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CrawlController</servlet-name>
        <url-pattern>/CrawlController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchSuggestionController</servlet-name>
        <url-pattern>/SearchSuggestionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditXSLController</servlet-name>
        <url-pattern>/EditXSLController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
